@font-face {
  font-family: "Ubuntu";
  src: url(../Fonts/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Oswald";
  src: url(../Fonts/Oswald/Oswald-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Bebas_Neue";
  src: url(../Fonts/Bebas_Neue/BebasNeue-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Amatic_SC";
  src: url(../Fonts/Amatic_SC/AmaticSC-Regular.ttf) format("truetype");
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 10%;
}

.container {
  border: 2px solid gray;
  padding: 10px;
  margin: 10px auto;
}

.color-container {
  width: 100%;
}

.color-panel {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}

.blood-red {
  background-color: #cc0000;
  color: white;
}

.pink {
  background-color: #ff3399;
}

.slime-green {
  background-color: #66ff33;
}

.font-panel {
  display: inline-block;
  width: 45%;
}

.ubuntu {
  font-family: "Ubuntu";
}

.oswald {
  font-family: "Oswald";
}

.bebas-neue {
  font-family: "Bebas_Neue";
}

.amatic-sc {
  font-family: "Amatic_SC";
}

.font-label {
  font-size: 24px;
  text-decoration: underline;
}

.font-regular {
  font-size: 20px;
}
.font-bold {
  font-size: 20px;
  font-weight: bold;
}

.font-italic {
  font-size: 20px;
  font-style: italic;
}

.text-panel h1 {
  font-weight: 700;
  font-size: 26px;
}

.text-panel h2 {
  font-weight: 500;
  font-size: 18px;
}

.text-panel p {
  font-weight: 400;
  font-size: 14px;
}
